.roof-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.tile-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(10, 1fr);
}

.tile {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}